*{
	margin: 0; 
	padding: 0; 
}
ul{ 
	list-style: none;
}

.nav{
	background-color:#EEEEEE;
	height:40px;
	width:450px;
	margin:0 auto;
}

ul li{
	float:left;
	line-height: 40px;
	text-align: center;
	position:relative;
}
a{
	text-decoration: none;
	color:#000;
	display: block;
	width: 90px;
	height: 40px;
}
a:link,a:visited{
	background-color: #EEE;
}
a:hover{
	background-color: red;
	color: #FFF;
}

ul li ul li{
	float: none;
	background-color: #EEE;
}
ul li ul{
	position: absolute;
	top: 40px;
	left: 0px;
	display: none;
	width: 90px;
}
ul li:hover ul{
	/*display: block; */
} 
